@import '../../../assets/index';

.navbar {
    background-color: $base-cheapdy-color;
}

.nav-link {
    font-family: 'Kanit', sans-serif;
    color: #000000 !important;
}

.navbar-collapse {
    max-width: 95%;
}
