<div class="row">
    <div class="col-sm-12 col-md-7">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a (click)="routing('/')">
                    {{ content.region }}
                </a>
            </li>
            <li class="breadcrumb-item">
                <a (click)="memo(content.category)">
                    {{ content.category }}
                </a>
            </li>
            <li class="breadcrumb-item active">
                {{ content.title}}
            </li>
        </ol>
    </div>
    <div class="col-sm-12 col-md-5" id="redeem">
        <app-modal-form-redeem
        [promotion]="promotion"
        [content]="content"
        [quotaIp]="quotaIp"
        ></app-modal-form-redeem>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-7">
        <div class="photo-show">
            <app-carousel
            [youtube]="content.youtube"
            [carouselList]="carouselList"
            [width]="'100%'"
            [height]="'100%'"></app-carousel>
        </div>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="provider-info">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile">รายละเอียด</a>
                </li>
                <li class="nav-item">
                    <a (click)="onSelectMap()" class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-expanded="true">Map</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="info-desc" [innerHtml]="content.content"> 
                    </div>
                </div>
                <div class="tab-pane fade" id="map" role="tabpanel" aria-labelledby="map-tab">
                    <agm-map *ngIf="clickMap" [latitude]="18.788445" [longitude]="98.985766">
                        <agm-marker [latitude]="18.788445" [longitude]="98.985766"></agm-marker>
                    </agm-map>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row" id="relate-box">
    <div class="col-sm-12 col-md-7">
        <div class="relate pc">
            <div *ngFor="let item of relate" class="item">
                <p [innerHtml]="item.title"></p>
                <img (click)="routingRelate(item.providerId)" [src]="item.image">
            </div>
        </div>
        <div class="promotion-desc mobile" [innerHtml]="promotion.desc"></div>
    </div>
    <div class="col-sm-12 col-md-5">
        <div class="relate mobile">
            <div *ngFor="let item of relate" class="item">
                <p [innerHtml]="item.title"></p>
                <img (click)="routingRelate(item.providerId)" [src]="item.image">
            </div>
        </div>
        <div class="promotion-desc pc" [innerHtml]="promotion.desc"></div>
    </div>
</div>